version: '3.2'

services:
    api:
        image: ghcr.io/codize-dev/piston@sha256:efa992bae83e1200ea0ade882c4611f14098b896f5783119b47dd80c69ef6dec
        container_name: piston_api
        restart: always
        privileged: true
        ports:
            - 2000:2000
        volumes:
            - ./data/piston/packages:/piston/packages
        tmpfs:
            - /tmp:exec
