version: '3.2'

services:
    api:
        image: ghcr.io/codize-dev/piston@sha256:46e3b7e9d9cef5d7856c29bbf4e800f19965a2e32249750cefa4ec1cdc32b233
        container_name: piston_api
        restart: always
        privileged: true
        ports:
            - 2000:2000
        volumes:
            - ./data/piston/packages:/piston/packages
        tmpfs:
            - /tmp:exec
