name: Publish API image

on:
    workflow_dispatch:
    push:
        branches:
            - master
            - v3
        paths:
            - api/**

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: false

jobs:
    push_to_registry:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        name: Build and Push Docker image to Github Packages
        steps:
            - name: Check out repo
              uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
            - name: Login to ghcr.io
              uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2.2.0
              with:
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
                  registry: ghcr.io

            - name: Build and push API
              uses: docker/build-push-action@0a97817b6ade9f46837855d676c4cca3a2471fc9 # v4.2.1
              with:
                  context: api
                  push: true
                  pull: true
                  tags: |
                      ghcr.io/codize-dev/piston:latest
                      ghcr.io/codize-dev/piston:${{ github.sha }}
